

<div class="footer flex-row justify-center">
  <a href="/dashboard/new">➕ New Post</a>
</div>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="btn">Edit post</a>
    {{/each}}
</section>
{{/if}}
